#userField{
	-fx-text-fill: #FFFFFF;
}

#passwordField{
	-fx-text-fill: #FFFFFF;
}

#mainButton:hover{
	-fx-background-color: #ffa07a;
	-fx-border-color: WHITE;
	-fx-border-width: 2px 0px 2px 0px;
}

#newRegistroButton:hover{
	-fx-background-color: #ffa07a;
	-fx-border-color: WHITE;
	-fx-border-width: 2px 0px 2px 0px;
}

#registroButton:hover{
	-fx-background-color: #ffa07a;
	-fx-border-color: WHITE;
	-fx-border-width: 2px 0px 2px 0px;
}

#configButton:hover{
	-fx-background-color: #ffa07a;
	-fx-border-color: WHITE;
	-fx-border-width: 2px 0px 2px 0px;
}

#more_InfoButton:hover{
	-fx-background-color: #ffa07a;
	-fx-border-color: WHITE;
	-fx-border-width: 2px 0px 2px 0px;
}